<!-- 
     Copyright 2019 Acacia Shop
     This file is part of Multiple.
     Multiple is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.
     Multiple is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     You should have received a copy of the GNU General Public License
     along with Multiple.  If not, see <https://www.gnu.org/licenses/>.
-->
{# -*- coding:utf-8 -*-#}
{% extends "choice/base.html" %}

{% block title %}Exam list{% endblock title%}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="float-right">
          <a class="btn btn-outline-secondary" href="{% url 'choice:exam-create' %}">新規</a>
        </div>
      </div>
    </div>
    
    <div class="row" >
      <div class="col-12">
	{% include 'choice/pagination.html' %}
      </div>
    </div>    
    {% if latest_exam_list %}
      <table class="table table-sm">
	<thead>
	  <tr>
	    <th scope="col">pk</th>
	    <th scope="col">Title</th>
	    <th scope="col">Number of Question</th>
	    <th scope="col">Created Date</th>
	  </tr>
	</thead>
	<tbody>
	  {% for exam in latest_exam_list %}
	    <tr>
	      <th scope="row">{{ exam.id }}</th>
	      <td><a class="btn btn-default" href="{% url 'choice:exam-detail' exam.id %}">{{ exam.title }}</a></td>
	      <td>{{ exam.number_of_question }}</td>
	      <td>{{ exam.created_date }}</td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
    {% else %}
      <p>No exam is available.</p>
    {% endif %}
    <div class="row" >
      <div class="col-12">
	{% include 'choice/pagination.html' %}
      </div>
    </div>    
  </div>
{% endblock content %}
