<!-- 
Copyright 2019 Acacia Shop
This file is part of Multiple.
    Multiple is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Multiple is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Multiple.  If not, see <https://www.gnu.org/licenses/>.
-->
{# -*- coding:utf-8 -*-#}
{% extends "choice/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
	<form action="" method="post">
          {% csrf_token %}
	  <h2 class="text-center">データ削除</h2>
	  {{ object }}
	  <p>このデータを削除します。よろしいですか？</p>
          <input type="submit" class="btn btn-outline-secondary" value="削除" />
          <a class="btn btn-outline-secondary" href="{% url 'choice:exam-detail' object.id %}">戻る</a>
	</form>
      </div>
    </div>
  </div>
{% endblock %}

