 <!-- 
Copyright 2019 Acacia Shop
This file is part of Multiple.
    Multiple is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Multiple is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Multiple.  If not, see <https://www.gnu.org/licenses/>.
-->
{# -*- coding:utf-8 -*-#}
{% extends "choice/base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-3">
	<p>作成者</p>
      </div>
      <div class="col-9">
	<p>{{ exam_detail.author }}</p>
      </div>
      <div class="col-3">
	<p>作成日</p>
      </div>
      <div class="col-9">
	<p>{{ exam_detail.created_date|date }}</p>
      </div>
    </div>
    <p>{{ exam_detail.title }}</p>

    <p>
      <a class="btn btn-outline-secondary" href="{% url 'choice:exam-delete' exam_detail.id %}"> delete </a>
      <a class="btn btn-outline-secondary" href="{% url 'choice:exam-update' exam_detail.id %}"> update </a>
      <a class="btn btn-outline-secondary" href="{% url 'choice:exam-list' %}"> index </a>
    </p>
  </div>
{% endblock %}


