<!-- 
Copyright 2019 Acacia Shop
This file is part of Multiple.
    Multiple is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Multiple is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Multiple.  If not, see <https://www.gnu.org/licenses/>.
-->
{# -*- coding:utf-8 -*-#}

 <!-- 前へ の部分 -->
 {% if page_obj.has_previous %}
   <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
 {% endif %}

 <!-- 数字の部分 -->
 {% for num in page_obj.paginator.page_range %}
   {% if page_obj.number == num %}
     <span>{{ num }}</span>
   {% else %}
     <a href="?page={{ num }}">{{ num }}</a>
   {% endif %}
 {% endfor %}

 <!-- 次へ の部分 -->
 {% if page_obj.has_next %}
   <a href="?page={{ page_obj.next_page_number }}">Next</a>
 {% endif %}
