<!-- 
Copyright 2019 Acacia Shop
This file is part of Multiple.
    Multiple is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Multiple is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Multiple.  If not, see <https://www.gnu.org/licenses/>.
-->
{# -*- coding:utf-8 -*-#}
{% extends "choice/base.html" %}

{% block content %}
  <ul>
    <p>konoken: {{ Exam.title }}</p>
  </ul>
  {% if question_list %}
    <ul>
      {% for question in question_list %}
	<li>{{ question.exam.title }}<a href="{{ question.id }}/">{{ question.no }}
	  {{ question.sub_no }} mychoice {{ question.my_choice }}</a></li>
    </ul>
      {% endfor %}
  {% else %}
      <p>No question is available</p>
  {% endif %}

  <p> Test check box</p>

  <div>
    <div class="ui slider checkbox">
      <label for="scales">1.</label><input type="checkbox" id="id_providers" name="scales" value="tick">
      <label for="scales">2.</label><input type="checkbox" id="id_providers" name="scales">
      <label for="scales">3.</label><input type="checkbox" id="id_providers" name="scales">
    </div>
  </div>
  
  <!-- 
       {% for value, text in form.providers.field.choices %}
       <div class="ui slider checkbox">
       <input id="id_providers_{{ forloop.counter0 }}" name="{{ form.providers.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
       <label>{{ text }}</label>
       </div>
       {% endfor %}
  -->
{% endblock %}
